streamlit
pandas
numpy
streamlit-embedcode
requests-file
requests-oauthlib
requests-toolbelt
imutils
tensorboard-plugin-wit
tensorflow
tensorflow-cpu
tensorflow-estimator
tensorflow-io-gcs-filesystem
keras
keras-nightly
Keras-Preprocessing
opencv-python-headless
scipy
